@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 100;
  font-style: normal;
  src: url("../fonts/NotoSans-Thin/NotoSans-Thin.eot") format("eot"),
    url("../fonts/NotoSans-Thin/NotoSans-Thin.otf") format("opentype"),
    url("../fonts/NotoSans-Thin/NotoSans-Thin.woff") format("woff"),
    url("../fonts/NotoSans-Thin/NotoSans-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 200;
  font-style: normal;
  src: url("../fonts/NotoSans-Light/NotoSans-Light.eot") format("eot"),
    url("../fonts/NotoSans-Light/NotoSans-Light.otf") format("opentype"),
    url("../fonts/NotoSans-Light/NotoSans-Light.woff") format("woff"),
    url("../fonts/NotoSans-Light/NotoSans-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/NotoSans-DemiLight/NotoSans-DemiLight.eot") format("eot"),
    url("../fonts/NotoSans-DemiLight/NotoSans-DemiLight.otf") format("opentype"),
    url("../fonts/NotoSans-DemiLight/NotoSans-DemiLight.woff") format("woff"),
    url("../fonts/NotoSans-DemiLight/NotoSans-DemiLight.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/NotoSans-Regular/NotoSans-Regular.eot") format("eot"),
    url("../fonts/NotoSans-Regular/NotoSans-Regular.otf") format("opentype"),
    url("../fonts/NotoSans-Regular/NotoSans-Regular.woff") format("woff"),
    url("../fonts/NotoSans-Regular/NotoSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/NotoSans-Medium/NotoSans-Medium.eot") format("eot"),
    url("../fonts/NotoSans-Medium/NotoSans-Medium.otf") format("opentype"),
    url("../fonts/NotoSans-Medium/NotoSans-Medium.woff") format("woff"),
    url("../fonts/NotoSans-Medium/NotoSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/NotoSans-Black/NotoSans-Black.eot") format("eot"),
    url("../fonts/NotoSans-Black/NotoSans-Black.otf") format("opentype"),
    url("../fonts/NotoSans-Black/NotoSans-Black.woff") format("woff"),
    url("../fonts/NotoSans-Black/NotoSans-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/NotoSans-Bold/NotoSans-Bold.eot") format("eot"),
    url("../fonts/NotoSans-Bold/NotoSans-Bold.otf") format("opentype"),
    url("../fonts/NotoSans-Bold/NotoSans-Bold.woff") format("woff"),
    url("../fonts/NotoSans-Bold/NotoSans-Bold.woff2") format("woff2");
}
